.blocker{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    overflow:auto;
    z-index:10;
    padding:20px;
    box-sizing:border-box;
    background-color:#000;
    background-color:rgba(0,0,0,0.75);
    text-align:center
}
.blocker:before{content:"";display:inline-block;height:100%;vertical-align:middle;margin-right:-0.05em}
.blocker.behind{background-color:transparent}
.modal{
    display:none;
    vertical-align:middle;
    position:relative;
    max-width:600px;
    background:#fff;
    padding:15px 30px;
    width:100%;
    border-radius: 10px;
    text-align:left;
}
.modal .title{
    font-size: 1.5em;
    font-weight: 600;
    margin: 1em 0 0 0;
    color: #dfb77d;
    text-shadow: 1px 1px 1px #0002;
}
.modal .input-info input{
    padding: 10px;
    margin: 2em 0 .5em 0;
    width: 95%;
    border: none;
    border-bottom: #ddd solid 2px;
}
@media screen and (max-width: 470px){
    .modal .input-info input{
        width: 90%;
    }
}
.modal .input-info a{
    margin-left: 2em;
    color: #dfb77d;
}
.modal .input-info a:hover{
    border-bottom: #dfb77d solid 1px;
}
.modal .input-info input::placeholder{
    color: #777;
}
.modal .input-info input:focus{
    outline: none;
    border-bottom: #dfb77d solid 2px;
}
.input-addbtn{
    width: 50%;
    display: inline-block;
}

.modal .btn-login{text-align: center;}
.modal .login{
    width: 200px;
    height: 40px;
    line-height: 35px;
    color: #fff;
    text-shadow: 0 0 3px #000;
    text-align: center;
    background: linear-gradient(180deg, #dfb77b 0%, #ae7d35 75%, #dfb77b 100%);
    box-shadow: 0px 2px 1px #555;
    border-radius: 20px;
    border: none;
    margin: 1em 0;
}
.modal .login:hover{position:relative;top:2px;cursor: pointer;}
.modal a.close-modal{
    position:absolute;
    top: 1em;
    right: 1em;
    display:block;
    width:20px;
    height:20px;
    text-indent:-9999px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    background-image:url("../img/X.png")
}
.modal-spinner{display:none;position:fixed;top:50%;left:50%;transform:translateY(-50%) translateX(-50%);padding:12px 16px;border-radius:5px;background-color:#111;height:20px}
.modal-spinner>div{border-radius:100px;background-color:#fff;height:20px;width:2px;margin:0 1px;display:inline-block;-webkit-animation:sk-stretchdelay 1.2s infinite ease-in-out;animation:sk-stretchdelay 1.2s infinite ease-in-out}
.modal-spinner .rect2{-webkit-animation-delay:-1.1s;animation-delay:-1.1s}
.modal-spinner .rect3{-webkit-animation-delay:-1.0s;animation-delay:-1.0s}
.modal-spinner .rect4{-webkit-animation-delay:-0.9s;animation-delay:-0.9s}
@-webkit-keyframes sk-stretchdelay{0%,40%,100%{-webkit-transform:scaleY(0.5)}20%{-webkit-transform:scaleY(1.0)}}
@keyframes sk-stretchdelay{0%,40%,100%{transform:scaleY(0.5);-webkit-transform:scaleY(0.5)}20%{transform:scaleY(1.0);-webkit-transform:scaleY(1.0)}}
/*遊戲轉點modal*/
.wallet-transfer-way{margin-top: 2em;}
.wallet-transfer-select{
    width: 100%;
    padding: 10px;
    border: #ddd solid 1px;
    border-bottom: #ddd solid 2px;
    border-radius: 5px;
    color: #666;
}
.wallet-transfer-select:focus{
    border: #dfb77b solid 1px;
    border-bottom: #dfb77b solid 2px;
}
#wallet_transfer_modal .input-info input{width: 100%;}
.btn-wallet-transfer{text-align: center;}
.modal .btn-wallet-transfer .enter{
    width: 150px;
    height: 40px;
    line-height: 35px;
    color: #fff;
    text-shadow: 0 0 3px #000;
    text-align: center;
    background: linear-gradient(180deg, #dfb77b 0%, #ae7d35 75%, #dfb77b 100%);
    box-shadow: 0px 2px 1px #555;
    border-radius: 20px;
    border: none;
    margin: 1em;
}
.modal .btn-wallet-transfer .cancel{
    width: 150px;
    height: 40px;
    line-height: 35px;
    color: #fff;
    text-shadow: 0 0 3px #000;
    text-align: center;
    background: linear-gradient(180deg, #ccc 0%, #999 75%, #ccc 100%);
    box-shadow: 0px 2px 1px #555;
    border-radius: 20px;
    border: none;
    margin: 1em;
}
.modal .enter:hover, .modal .cancel:hover{position:relative;top:2px;cursor: pointer;}
/*好友轉點modal*/
.p2p-transfer-way{margin-top: 2em;}
.p2p-transfer-select{
    width: 100%;
    padding: 10px;
    border: #ddd solid 1px;
    border-bottom: #ddd solid 2px;
    border-radius: 5px;
    color: #666;
}
.p2p-transfer-select:focus{
    border: #dfb77b solid 1px;
    border-bottom: #dfb77b solid 2px;
}
#p2p_transfer_modal .input-info input{width: 100%;}
.btn-p2p-transfer{text-align: center;}
.modal .btn-p2p-transfer .enter{
    width: 150px;
    height: 40px;
    line-height: 35px;
    color: #fff;
    text-shadow: 0 0 3px #000;
    text-align: center;
    background: linear-gradient(180deg, #dfb77b 0%, #ae7d35 75%, #dfb77b 100%);
    box-shadow: 0px 2px 1px #555;
    border-radius: 20px;
    border: none;
    margin: 1em;
}
.modal .btn-p2p-transfer .cancel{
    width: 150px;
    height: 40px;
    line-height: 35px;
    color: #fff;
    text-shadow: 0 0 3px #000;
    text-align: center;
    background: linear-gradient(180deg, #ccc 0%, #999 75%, #ccc 100%);
    box-shadow: 0px 2px 1px #555;
    border-radius: 20px;
    border: none;
    margin: 1em;
}
.modal .enter:hover, .modal .cancel:hover{position:relative;top:2px;cursor: pointer;}
/*儲值modal*/
.deposit-way{margin-top: 2em;}
.deposit-select{
    width: 100%;
    padding: 10px;
    border: #ddd solid 1px;
    border-bottom: #ddd solid 2px;
    border-radius: 5px;
    color: #666;
}
.deposit-select:focus{
    border: #dfb77b solid 1px;
    border-bottom: #dfb77b solid 2px;
}
#deposit_modal .input-info input{width: 100%;}
.btn-deposit{text-align: center;}
.modal .btn-deposit .enter{
    width: 150px;
    height: 40px;
    line-height: 35px;
    color: #fff;
    text-shadow: 0 0 3px #000;
    text-align: center;
    background: linear-gradient(180deg, #dfb77b 0%, #ae7d35 75%, #dfb77b 100%);
    box-shadow: 0px 2px 1px #555;
    border-radius: 20px;
    border: none;
    margin: 1em;
}
.modal .btn-deposit .cancel{
    width: 150px;
    height: 40px;
    line-height: 35px;
    color: #fff;
    text-shadow: 0 0 3px #000;
    text-align: center;
    background: linear-gradient(180deg, #ccc 0%, #999 75%, #ccc 100%);
    box-shadow: 0px 2px 1px #555;
    border-radius: 20px;
    border: none;
    margin: 1em;
}
/*提款modal*/
.withdraw-way{margin-top: 2em;}
.withdraw-select{
    width: 100%;
    padding: 10px;
    border: #ddd solid 1px;
    border-bottom: #ddd solid 2px;
    border-radius: 5px;
    color: #666;
}
.withdraw-select:focus{
    border: #dfb77b solid 1px;
    border-bottom: #dfb77b solid 2px;
}
#withdraw_modal .input-info input{width: 100%;}
.btn-withdraw{text-align: center;}
.modal .btn-withdraw .enter{
    width: 150px;
    height: 40px;
    line-height: 35px;
    color: #fff;
    text-shadow: 0 0 3px #000;
    text-align: center;
    background: linear-gradient(180deg, #dfb77b 0%, #ae7d35 75%, #dfb77b 100%);
    box-shadow: 0px 2px 1px #555;
    border-radius: 20px;
    border: none;
    margin: 1em;
}
.modal .btn-withdraw .cancel{
    width: 150px;
    height: 40px;
    line-height: 35px;
    color: #fff;
    text-shadow: 0 0 3px #000;
    text-align: center;
    background: linear-gradient(180deg, #ccc 0%, #999 75%, #ccc 100%);
    box-shadow: 0px 2px 1px #555;
    border-radius: 20px;
    border: none;
    margin: 1em;
}

